
<div class="intro">
  <p>Enter your username name and start chatting! </p>
  <div class="start-chat">
    {{input placeholder="Your Name" value=userName }}
    <button {{action "userSubmittedName"}}>
      I want to chat!
    </button>
  </div>
</div>